* {
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
}
:root {
  --var-color: rgb(213, 213, 213);
}
/*          
------------------------ navigation ----------------------------------
*/
.nav-wrraper {
  position: relative;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
}
.hero-section {
  position: absolute;
  height: 300px;
  background: url("https://4kwallpapers.com/images/wallpapers/mortal-kombat-2021-movies-poster-3840x2160-4902.jpg")
    no-repeat center center;
  background-size: cover;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.nav-bar {
  z-index: 10;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.nav-bar ul li .active {
  font-size: 40px;
}
.nav-bar ul li:hover {
  cursor: pointer;
}
/*
------------------------ Search ---------------------------------------
*/
.form-wrraper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  z-index: 100;
}
.search-form {
  border: 0.7px solid rgba(0, 0, 0, 0.4);
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: white;
}
.maginfy-icon {
  margin-left: 15px;
}
.search-form input {
  flex: 4;
  outline: none;
  border: none;
  word-break: keep-all;
  padding: 0.52rem;
  font-size: 16px;
}
.submit-button {
  display: inline-block;
  border: none;
  outline: none;
  border-left: 0.5px solid rgb(201, 201, 201);
  background-color: #eee;
  cursor: pointer;
  flex: 1;
  padding: 0.6rem;
  transition: all 0.2s ease-in-out;
}
.submit-button:active {
  background-color: rgb(156, 155, 155);
}
/*
------ movies svg
*/
.movie-svg {
  height: 150px;
  margin: 0 auto;
  display: block;
}
.movie-svg-container {
  margin-top: 100px;
}

/*
---list of moveis
*/
.list-of-movies {
  position: absolute;
  border-radius: 5px;
  top: 40px;
  background-color: white;
  left: 15%;
  width: 70%;
}
.list-of-movies ul {
  list-style: none;
}
.list-of-movies ul li {
  border-bottom: 0.4px solid rgb(183, 181, 181);
  padding: 10px 7px;
  display: flex;
  gap: 20px;
}
.poster-img {
  width: 200px;
}
.star-icon {
  font-size: 12px;
}
.movie-title {
  font-weight: 500;
  font-size: 22px;
}
.title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
/*
------adding to watch list
*/
.addto-watchlist {
  transition: all 0.3s ease-in-out;
  width: 150px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addto-watchlist:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  cursor: pointer;
}
.addto-watchlist:active {
  background-color: rgb(183, 183, 183);
}
.right-to-img {
}
.plus-icon {
  margin-right: 5px;
}
/*

*/
.watch-list-info {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.watch-list-info button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 14px;
}
.watch-list-info button:hover {
  background-color: #eee;
  border-radius: 8px;
}
.watch-list-info p {
  text-align: center;
  font-size: large;
  color: var(--var-color);
  font-size: 20px;
}
.watch-list-of-movies {
  top: 300px;
}
